.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.signIn {
  color: #4600e9;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.signUp {
  color: white;
  background: #4600e9;
  padding: 10px 32px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  min-width: 120px;
  height: 48px;
}

.burgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .signIn {
    display: none;
  }
  .signUp {
    display: none;
  }

  .burgerMenu {
    display: block;
  }
}
