.container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  min-height: 204px;
  background: rgb(255, 255, 255);
  border-radius: 17px;
  padding-left: 2.3vw;
  padding-right: 2.3vw;
  padding-top: 2vw;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.164);
}

.fakeImg {
  width: 160px;
  height: 160px;
  background-color: rgb(68, 68, 68);
  border-radius: 12px;
}

.info {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: rgba(48, 48, 48, 1);
}
.desc {
  font-weight: 500;
  font-size: 16px;
  color: rgba(71, 71, 71, 1);
}

.menu {
  margin-left: auto;
  width: 40px;
  display: none;
}

@media (max-width: 1068px) {
  .menu {
    display: block;
  }

  .menu img {
    max-width: none;
  }
}
