.container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  flex-shrink: 0;
}
.text {
  font-size: 20px;
}

.img {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  filter: invert(22%) sepia(92%) saturate(6000%) hue-rotate(253deg)
    brightness(103%) contrast(110%);
  transition: all 0.5s ease;
}

.active {
  transform: rotate(180deg);
}
