.container {
  position: relative;
  top: 10px;
}

.img {
  cursor: pointer;
  
}

.menu {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.menu a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.menu a:hover {
  background-color: #f0f0f0;
}

.menu a span {
  color: darkblue;
}
